#text-field-history,
textarea.version_control_filedata {
    display: none;
}

.version-control-overlay {
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 100%;
    position: absolute;
}

.InputfieldContent.overlay-parent > * {
    transition: 0.5s ease;
}

.InputfieldContent.overlay-parent.hover > * {
    opacity: 0.5;
}

.overlay-parent,
.InputfieldColumnWidth {
    position: relative;
}

.field-revisions-toggle {
    float: right;
    padding-right: 1em;
    position: relative;
}

.field-revisions-toggle.inactive * {
    cursor: help;
    opacity: 0.25;
}

.field-revisions {
    padding: 36px 0 0 0 !important;
    overflow: visible !important;
    position: absolute;
    margin-top: -28px;
    display: none;
    z-index: 99;
    right: 10px;
}

.field-revisions ul {
    margin: 0;
    line-height: 1em;
    overflow-y: auto;
    max-height: 350px;
    border-radius: 2px;
    padding: 16px 12px 12px 12px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1), inset 0 0 3px rgba(255,255,255,0.5);
}

.field-revisions ul.scroll {
    padding-right: 26px;
}

.field-revisions li {
    margin: 0;
}

.field-revisions a {
    margin: 0 5px;
    padding: 5px 4px;
    white-space: nowrap;
    font-weight: normal;
    display: inline-block;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.field-revisions a .user {
    padding-left: 2em;
}

.compare-revisions > a.diff-trigger::before {
    content: '\f074';
    padding-right: 0.5em;
    font-family: FontAwesome;
}

.compare-revisions > a.diff-switch::before {
    content: '\f0db';
    padding-right: 0.5em;
    font-family: FontAwesome;
}

.compare-revisions > a.diff-switch.diff-switch-list::before {
    content: '\f039';
    padding-right: 0.5em;
    font-family: FontAwesome;
}

.field-revisions a:hover {
    text-shadow: none;
}

.field-revisions .ui-state-active {
    border: 0;
    cursor: default;
    padding: 5px 4px;
}

body.template-admin .field-revisions .ui-state-active {
    opacity: 0.5;
}

.field-revisions-loading {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 98;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('loading.gif');
}

.compare-revisions {
    right: 96%;
    padding: 6px;
    background: #fff;
    max-height: 350px;
    border-radius: 1px;
    border-radius: 2px;
    position: absolute;
    border: 1px solid #ccc;
    overflow-y: auto !important;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1), inset 0 0 3px rgba(255,255,255,0.5);
}

.InputfieldWrapper#VersionControlHistory .AdminDataTable tr a {
    opacity: 0.25;
}

.InputfieldWrapper#VersionControlHistory .AdminDataTable tr a,
.InputfieldWrapper#VersionControlHistory .AdminDataTable tr span {
    display: inline-block;
    margin: 0 0.25em;
    width: 14px;
}

.InputfieldWrapper#VersionControlHistory .AdminDataTable tr:hover a {
    opacity: 1;
}

.InputfieldWrapper#VersionControlHistory .AdminDataTable tr td:last-child {
    text-align: center;
    width: 6em;
}

.InputfieldWrapper#VersionControlHistory ul.MarkupPagerNavCustom li.MarkupPagerNavSeparator,
.InputfieldWrapper#VersionControlHistory ul.MarkupPagerNavCustom li a {
    margin-right: 3px;
}

body.preview {
    overflow: hidden;
}

#preview {
    top: 0;
    width: 90%;
    height: 100%;
    right: -80%;
    display: none;
    position: fixed;
    z-index: 999999;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('loading.gif');
    box-shadow: -4px 0 3px rgba(0, 0, 0, 0.25);
}

#preview.loaded {
    background-image: none;
}

#preview iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

#preview-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0.25;
    position: fixed;
    background: #000;
}

#diff .page-diff,
#diff .page-diff li,
#diff .page-diff li *,
#diff-table,
#diff-table td * {
    box-shadow: none;
    display: block;
    padding: 0;
    margin: 0 !important;
    border: 0;
}

#diff-table {
    border-collapse: collapse;
    display: table;
    width: 100%;
}

.diff-switch {
    margin-bottom: 0.75em !important;
    display: block;
}

#diff .page-diff li * {
    margin-bottom: 1px !important;
    padding: 0.25em;
}

#diff-table td {
    box-sizing: border-box;
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 0;
    width: 50%;
}

#diff-table td * {
    padding: 0.275em 0.25em;
}

.revision {
    display: none !important;
}

#diff-table td.diff-col-ins,
ins {
    background-color: #c6ffc6;
    text-decoration: none;
}

#diff-table td.diff-col-del,
del {
    background-color: #ffc6c6;
}

#diff-table del {
    text-decoration: none;
}

#diff-table ins::before {
    content: '+\00a0';
}

#diff-table del::before {
    content: '-\00a0';
}

#diff-table span::before {
    content: '\00a0\00a0';
}