#text-field-history,
textarea[name=version_control_filedata] {
    display: none;
}

.version-control-overlay {
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 100%;
    position: absolute;
}

.InputfieldContent.overlay-parent > * {
    transition: 0.5s ease;
}

.InputfieldContent.overlay-parent.hover > * {
    opacity: 0.5;
}

.overlay-parent,
.InputfieldColumnWidth {
    position: relative;
}

.field-revisions-toggle.inactive * {
    cursor: help;
    opacity: 0.25;
}

.field-revisions {
    padding: 36px 0 0 0 !important;
    overflow: visible !important;
    position: absolute;
    margin-top: -28px;
    display: none;
    z-index: 99;
    right: 10px;
}

.field-revisions ul {
    margin: 0;
    line-height: 1em;
    overflow-y: auto;
    max-height: 350px;
    border-radius: 2px;
    padding: 14px 8px 10px 8px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1), inset 0 0 3px rgba(255,255,255,0.5);
}

.field-revisions ul.scroll {
    padding-right: 26px;
}

.field-revisions li {
    margin: 0;
}

.field-revisions a {
    margin: 0 5px;
    padding: 5px 4px;
    white-space: nowrap;
    font-weight: normal;
    display: inline-block;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.field-revisions a em {
    padding-left: 2em;
}

.field-revisions a:hover {
    text-shadow: none;
}

.field-revisions .ui-state-active {
    border: 0;
    cursor: default;
    padding: 5px 4px;
}

body.template-admin .field-revisions .ui-state-active {
    opacity: 0.5;
}

.field-revisions-loading {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 98;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('loading.gif');
}

.compare-revisions {
    right: 96%;
    padding: 2px;
    background: #fff;
    max-height: 350px;
    border-radius: 1px;
    border-radius: 2px;
    position: absolute;
    border: 1px solid #ccc;
    overflow-y: auto !important;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1), inset 0 0 3px rgba(255,255,255,0.5);
}

.InputfieldWrapper#VersionControlHistory .AdminDataTable tr a {
    opacity: 0.25;
}

.InputfieldWrapper#VersionControlHistory .AdminDataTable tr a,
.InputfieldWrapper#VersionControlHistory .AdminDataTable tr span {
    display: inline-block;
    margin: 0 0.25em;
    width: 14px;
}

.InputfieldWrapper#VersionControlHistory .AdminDataTable tr:hover a {
    opacity: 1;
}

.InputfieldWrapper#VersionControlHistory .AdminDataTable tr td:last-child {
    text-align: center;
    width: 6em;
}

.InputfieldWrapper#VersionControlHistory ul.MarkupPagerNavCustom li.MarkupPagerNavSeparator,
.InputfieldWrapper#VersionControlHistory ul.MarkupPagerNavCustom li a {
    margin-right: 3px;
}

body.preview {
    overflow: hidden;
    padding-top: 2em;
}

#close-preview {
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    color: #fff;
    z-index: 99;
    display: none;
    padding: 0 1em;
    position: fixed;
    line-height: 2em;
    background: #FF008F;
    border-radius: 0 4px 4px 0;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.25);
}

#close-preview i {
    margin-right: 0.5em;
}

#preview {
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('loading.gif');
}