#version-control-data,
textarea.version_control_filedata {
    display: none;
}

.version-control-overlay {
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 100%;
    position: absolute;
}

.InputfieldContent.overlay-parent > * {
    transition: 0.5s ease;
}

.InputfieldContent.overlay-parent.hover > * {
    opacity: 0.5;
}

.overlay-parent,
.InputfieldColumnWidth {
    position: relative;
}

.field-revisions-toggle {
    float: right;
    padding-right: 1em;
    position: relative;
}

.field-revisions-toggle.active,
.field-revision-diff.active {
    opacity: 0.5;
}

.field-revisions-toggle.inactive * {
    cursor: help;
    opacity: 0.25;
}

.field-revisions {
    overflow: visible !important;
    padding: 1em 1em 1.25em 1em !important;
    background: #1c2836;
    position: relative;
    margin-top: 1px;
    background: linear-gradient(to right, #1c2836 0%,#293a4f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: none;
}

.field-revisions.sliding {
    overflow: hidden !important;
}

.field-revisions::after {
    content: '';
    width: 0;
    height: 0;
    bottom: 0;
    left: 1.25em;
    position: absolute;
    margin-bottom: -8px;
    border-top: 8px solid #1c2836;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.field-revisions table {
    margin: 0;
    width: 100%;
    line-height: 1em;
    border-collapse: collapse;
}

.field-revisions tbody tr {
    position: relative;
    border-top: 1px solid rgba(255,255,255,0.25) !important;
}

.field-revisions th,
.field-revisions td {
    padding: 0.75em 1em;
    line-break: none;
}

.field-revisions th:first-child,
.field-revisions td:first-child {
    padding: 0.75em 0 0.75em 0.5em;
}

.field-revisions td:not(:first-child):not(:last-child) {
    border-right: 1px solid rgba(255,255,255,0.25);
}

@media screen and (min-width: 980px) {
    .field-revisions th,
    .field-revisions td {
        white-space: nowrap;
    }
    .field-revisions td:last-child {
        width: 100%;
    }

}

.field-revisions,
.field-revisions td,
.field-revisions th,
.field-revisions td > a {
    color: #fff !important;
}

.field-revisions a:not(:last-child) {
    margin-right: 1em;
}

.field-revisions .ui-state-active a {
    display: none;
}

.field-revisions .field-revision-current::before {
    content: '\f0c8';
    font-family: FontAwesome;
    cursor: pointer;
}

.field-revisions .ui-state-active .field-revision-current::before {
    content: '\f14a';
    cursor: default;
}

.field-revision-diff::before {
    content: '\f074';
    padding-right: 0.5em;
    font-family: FontAwesome;
}

.field-revision-restore::before {
    content: '\f0e2';
    padding-right: 0.5em;
    font-family: FontAwesome;
}

.compare-revisions > a.diff-switch::before {
    content: '\f0db';
    padding-right: 0.5em;
    font-family: FontAwesome;
}

.compare-revisions > a.diff-switch.diff-switch-list::before {
    content: '\f039';
    padding-right: 0.5em;
    font-family: FontAwesome;
}

.field-revisions a:hover {
    text-shadow: none;
}

.field-revisions .ui-state-active {
}

body.template-admin .field-revisions .ui-state-active {
    border: 0;
    background: transparent;
}

.field-revision-loading {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('loading.gif');
}

.compare-revisions {
    z-index: 9;
    color: #333;
    padding: 1em;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    left: 1.25%;
    width: 97.5%;
    margin-top: 1em;
    white-space: normal;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
}

.compare-revisions-close {
    display: inline-block;
    position: absolute;
    color: #333;
    right: 1em;
    top: 1em;
}

.InputfieldWrapper#VersionControlHistory .AdminDataTable tr a {
    opacity: 0.25;
}

.InputfieldWrapper#VersionControlHistory .AdminDataTable tr a,
.InputfieldWrapper#VersionControlHistory .AdminDataTable tr span {
    display: inline-block;
    margin: 0 0.25em;
    width: 14px;
}

.InputfieldWrapper#VersionControlHistory .AdminDataTable tr:hover a {
    opacity: 1;
}

.InputfieldWrapper#VersionControlHistory .AdminDataTable tr td:last-child {
    text-align: center;
    width: 6em;
}

.InputfieldWrapper#VersionControlHistory ul.MarkupPagerNavCustom li.MarkupPagerNavSeparator,
.InputfieldWrapper#VersionControlHistory ul.MarkupPagerNavCustom li a {
    margin-right: 3px;
}

body.preview {
    overflow: hidden;
}

#preview {
    top: 0;
    width: 90%;
    height: 100%;
    right: -80%;
    display: none;
    position: fixed;
    z-index: 999999;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('loading.gif');
    box-shadow: -4px 0 3px rgba(0, 0, 0, 0.25);
}

#preview.loaded {
    background-image: none;
}

#preview iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

#preview-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0.25;
    position: fixed;
    background: #000;
}

#diff .page-diff,
#diff .page-diff li,
#diff .page-diff li *,
#diff-table,
#diff-table td * {
    box-shadow: none;
    display: block;
    padding: 0;
    margin: 0 !important;
    border: 0;
}

#diff-table {
    border-collapse: collapse;
    display: table;
    width: 100%;
}

.diff-switch {
    margin-bottom: 0.75em !important;
    display: inline-block;
}

#diff .page-diff li * {
    margin-bottom: 1px !important;
    padding: 0.25em;
}

#diff-table td {
    color: #333 !important;
    box-sizing: border-box;
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 0;
    width: 50%;
}

#diff-table td * {
    padding: 0.275em 0.25em;
}

.revision {
    display: none !important;
}

#diff-table td.diff-col-ins,
.field-revisions ins {
    background-color: #3db997 !important;
    text-decoration: none;
    line-height: 1.4rem;
    color: #fff;
}

#diff-table td.diff-col-del,
.field-revisions del {
    background-color: #e93661 !important;
    line-height: 1.4rem;
    color: #fff;
}

#diff-table del {
    text-decoration: none;
}

#diff-table ins::before {
    content: '+\00a0';
}

#diff-table del::before {
    content: '-\00a0';
}

#diff-table span::before {
    content: '\00a0\00a0';
}